.template-actions.btn-group {
    padding-top: 0;
    background-color: #ffffff;
}

.template-actions {
    padding-top: 0;
    background-color: #ffffff;
}

.template-canvas div.row, .template-canvas div.row-fluid {
    margin: 0 !important;
}

.template-canvas .section {
    border: dashed 1px #dddddd;
    margin-bottom: 10px;
    background-color: #ffffff;
    position: relative;
    padding: 30px 5px 5px;
    border-right: solid 2px green;
    min-height: 16px;
}

.template-canvas .section.in-active {
    border-right: solid 2px red;
}

.template-canvas .section:last-child {
    margin-bottom: 0;
}

.template-canvas .ui-selected {
    background: #fff4be;
    color: #000000;
    background: -moz-linear-gradient(top, #ffffff 0%, #fff4be 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #fff4be));
    background: -webkit-linear-gradient(top, #ffffff 0%, #fff4be 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #fff4be 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #fff4be 100%);
    background: linear-gradient(top, #ffffff 0%, #fff4be 100%);
}

.section label.status {
    position: absolute;
    left: 0;
    top: 0;
    color: #ffffff;
    text-shadow: 1px 1px 0 #000000;
    font-size: 11px;
    font-weight: bold;
    padding: 3px 20px 3px 3px;
    background: url('../img/backgrounds/profile_status.jpg') right top no-repeat #3c4e66;
    cursor: pointer;
    z-index: 90;
    width: 90px;
    border-radius: 4px 0 0 0;
}

.section .badge-edit {
    margin-left: 20px;
    position: absolute;
    right: 5px;
    top: 2px;
    z-index: 20;
}

.status i {
    float: left;
    margin: 3px 5px 0 0;
    padding: 0;
}

.section .template-item {
    border: dashed 1px;
    min-height: 20px;
    padding: 5px;
}

.section .row, .section .row-fluid {
    padding: 2px 0 10px;
    position: relative;
    border-top: dashed 1px transparent;
}

.page-details .head ul.buttons > li > a {
    padding: 4px 10px;
}

.page-assets .widget {
    margin-bottom: 0;
}

.page-assets .jstree-icon {
    display: none;
}

.section .row:last-of-type, .section .row-fluid:last-of-type {
    padding-bottom: 0;
}

.section .span12 {
    border-color: #444444;
}

.section .span10 {
    border-color: #ff7148;
}

.section .span9 {
    border-color: #20ff15;
}

.section .span8 {
    border-color: #d469ff;
}

.section .span7 {
    border-color: #698c4e;
}

.section .span6 {
    border-color: #798eff;
}

.section .span5 {
    border-color: #a3dc91;
}

.section .span4 {
    border-color: #dc091f;
}

.section .span3 {
    border-color: #ff0eea;
}

.section .span2 {
    border-color: #0e0471;
}

.template-item.active-cell {
    border: solid 2px #000000;
}

.template-item .page-assets {
    margin-bottom: 0;
    margin-left: 5px;
}

.asset {
    line-height: 1.4em;
    cursor: pointer;
}

#action-toolbar {
    width: 100%;
    margin: 0;
}

.section {
    position: relative;
}

.section .handle {
    padding: 1px 0;
    margin-bottom: 5px;
}

.row-data {
    clear: both;
    float: right;
    display: none;
    margin-top: 5px;
}

.section.ui-selected .row-data {
    display: table;
    visibility: visible;
}

.section .handle i {
    cursor: pointer;
}

.asset .btn-group button:last-of-type {
    margin-right: 2px;
}

.wait-dialog {
    z-index: 9999;
}

.section  .btn-mini {
    line-height: 16px;
    margin-bottom: 0;
    margin-left: 2px;
    padding: 1px 4px;
}

.row.ui-sortable-helper, .row-fluid.ui-sortable-helper {
    border: solid red 2px;
}

.template-canvas div.tagsinput span.tag {

    font-size: 11px;

    margin: 2px 2px 2px 0;
    padding: 2px;
}

div.tagsinput div {
    line-height: 20px;
}

div.tagsinput {
    min-height: 20px !important;
    border: none;
}

.template-canvas .asset {
    list-style: none;
    text-overflow: ellipsis;
    line-height: 1em;
}

.template-canvas .asset  a {

}

.template-canvas .page-assets {
    margin-left: 5px;
}

#menu-grid .tab-content {
    overflow: inherit;
}

.select-icon {
    cursor: pointer;
}

.hasDatepicker {
    position: relative;
    z-index: 9999;
}

.ui-search-table select, .ui-search-table input {
    height: auto;
    padding: 0;
}

.container.mapper {
    max-width: 800px;
}

.container.mapper .ui-jqgrid tr.jqgrow td {
    white-space: normal;
}

.container.mapper .select2-container {
    width: 95%;
}

.container.mapper select {
    height: 25px;
    width: 180px;
}

.container.mapper input {
    width: 100px;
}

.jPicker.Container {
    z-index: 10000000 !important;
}

.fancybox-overlay {
    /*z-index: 801 !important;*/
}

/*.fancybox-inner {
    overflow: visible !important;
}*/

.grid-toolbar {
    width: 100%;
    text-align: right;
    padding: 2px 0;
}

.colour-cell {
    width: 40px;
    display: inline-block;
    height: 20px
}

.asset .btn {
    padding: 0 3px;
}

.attr-container input {
    height: 20px;
    line-height: 20px;
}

.section .popover {
    width: 260px;
    z-index: 300;
}

.popover input, .popover select, .popover label {
    font-size: 11px !important;
    min-height: 20px;
}

.popover select {
    padding: 0;
    width: auto;
}

.attr-container>div {
    margin-bottom: 5px;
}

.attr-container>div.checkbox label {
    width: 100%;
    padding-left: 35px;
}

.page-details .popover-title {
    background: #42536d;
    color: #ffffff;
    text-shadow: 0 1px #000000;
}

.page-details .popover-content {
    background-color: #f5f5f5;
}

.popover label {

    clear: left;
    display: block;
    float: left;
    height: 15px;
    line-height: 20px;
    margin: 0 5px 0 0;
    padding: 0;
    width: 60px
}

.popover .tagsinput {
    border: solid 1px #dddddd;
}

.bg-top {
    background: url("../img/backgrounds/body_bg.gif") repeat-x scroll center top #ffffff;
}

.bg-bottom, .popover {
    background: url("../img/backgrounds/bgr_body_bottom.gif") repeat-x scroll center bottom #ffffff;
}

.widget .block, .widget .block-fluid {
    background: #ffffff;
}

#templates {
    margin-left: 0;
}

#templates .asset {
    list-style: none;
}

#action-toolbar .popover {
    width: 115px;
}

#action-toolbar .popover label {
    clear: both;
    float: none;
    margin: 5px 0;
    height: 25px;
}

#action-toolbar .popover .btn-group {
    clear: both;
    margin-top: 5px;
}

#custom-selector input {
    margin-bottom: 2px;
    width: 60px;
    font-size: 10px;

}

.btn-group {
    font-size: 11px;
}

.widget .buttons select {
    padding: 0;
    width: auto;
    margin: 0 10px;
    height: 2em;
}

.popover fieldset {
    margin-bottom: 10px;
}

.popover legend {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 5px;
    color: #374659;
    font-weight: bold;
}

.popover .control {
    margin: 2px 0;
}

.popover .select2-container .select2-choice {
    height: 20px;
    line-height: 20px;
}

.select2-container-multi .select2-choices .select2-search-field input {
    height: 100%;
}

.ui-jqgrid .ui-pg-selbox {
    padding: 0;
    width: 100%;
}
.ui-jqgrid .ui-pg-selbox {
    display: block;
    font-size: 0.8em;
    height: 18px;
    line-height: 18px;
    margin: 0;
}
.ui-jqgrid .ui-pg-input {
    height: 20px;
    width: auto !important;
}
.ui-jqgrid .ui-pg-input {
    font-size: 0.8em;
    margin: 0;
}