<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="module/PageBuilderTest/Bootstrap.php" colors="true" backupGlobals="false" backupStaticAttributes="false">

    <testsuites>
        <testsuite name="Synergy Page Builder Test Suite">
            <directory suffix="Test.php">module/PageBuilderTest</directory>
        </testsuite>
    </testsuites>
    <php>
        <includePath>../src</includePath>
        <includePath>../vendor</includePath>
    </php>
    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
</phpunit>
