<?php
return array(
    'pagebuilder' => array(
        'widgets' => array(
            'paths' => array(
            //Add paths to wideget location
               //'Widget Namespace' => 'papth_to_widget'
            )
        ),
    )
);