<?php
return array(
    'pagebuilder' => array(
        'widgets' => array(
            'paths' => array(
                //__DIR__ . '/../src/PageBuilder/Widget' //Add paths to wideget location
            )
        ),
    )
);